apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: twodo-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Amitbush/twodo-app.git
    targetRevision: main
    path: twodo-chart
  destination:
    server: https://kubernetes.default.svc
    namespace: production
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions: 
      - CreateNamespace=true