apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: twodo-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Amitbush/twodo-app.git
    targetRevision: feature/helm-setup
    path: twodo-chart
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true